In [1]:
#STEP 0 : 
"""As a junior Data Analyst you are work with the CMO of a startupo that is selling a new IOT than can protect surfers 
   from all kind of shark attacks while people are doing all kind of boarding sport. 
   Here we will use a dataset to determine the top 10 countries you need to target for which board activity whith your FB ads.

For that we'll need those data :
    - Case Number
    - Country
    - Activity
    - Fatal (Y/N)
    - Species """

budget = int(input('As CMO of the startup how much you want to allocate in $ to promote your IOT for the 10 countries with the most attacks for all te borading sports by all kid of sharks ? => '))

As CMO of the startup how much you want to allocate in $ to promote your IOT for the 10 countries with the most attacks for all te borading sports by all kid of sharks ? => 10000

In [2]:
#Import needed library
import pandas as pd
import numpy as np
import os

In [3]:
#STEP 1 : GET DATA function 
print(os.getcwd())

def acquisition ():
    df = pd.read_csv('data/GSAF5.csv', sep=',', encoding='ISO-8859-1')
    return df

df = acquisition()
print(df.head())

print(df.columns)

/Users/wawa/IronHack/Project 2
    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   ...  \
0  New Smyrna Beach, Volusia County  Surfing             male    M  ...
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M  ...
2  New Smyrna Beach, Volusia County  Surfing             male    M  ...
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  ...
4                       Bells Beach  Surfing             male    M  ...

    Species        Investigator or Source                        pdf  \
0        NaN  Orlando Sentinel, 9/19/2016       2016.09.18.c-NSB.pdf
1        NaN  Orlando Sentinel, 9/19/2016   2016.09.18.b-Luciano.pdf
2        NaN  Orlando Sentinel, 9/19/2016       2016.09.18.a-NSB.pdf
3        NaN           The Age, 9/18/2016  2016.09.17-Angiolella.pdf
4  2 m shark           The Age, 9/16/2016  2016.09.16-BellsBeach.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...
3  http://sharkattackfile.net/spreadsheets/pdf_di...
4  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.c
1  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.b
2  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.a
3  http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.17
4  http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.16

  Case Number.2 original order Unnamed: 22 Unnamed: 23
0  2016.09.18.c         5993.0         NaN         NaN
1  2016.09.18.b         5992.0         NaN         NaN
2  2016.09.18.a         5991.0         NaN         NaN
3    2016.09.17         5990.0         NaN         NaN
4    2016.09.15         5989.0         NaN         NaN

[5 rows x 24 columns]
Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
#STEP 2 : Clean function
#posts = posts.rename(columns={'Id':'postId','OwnerUserId':'userId'})

def clean_dataset(df):
        #First step we sect the columns we want to work with
        filtered_clean = df[['Case Number','Country', 'Activity', 'Fatal (Y/N)', 'Species ']]
       
        #We changed the name of columns with ' ' and so on 
        filtered_clean = filtered_clean.rename(columns={"Species ":"Species"})
        
        #We check the NaN values
        print(filtered_clean.isnull().sum())
        
        #We changed the NaN values to 'Null' to clean them 
        filtered_clean = filtered_clean[['Case Number', 'Country','Activity','Fatal (Y/N)','Species']] = filtered_clean[['Case Number', 'Country','Activity','Fatal (Y/N)','Species']].fillna('Null')
        print(filtered_clean.isnull().sum())
        
        #We clean Null values either by changing the value aither by dropping the rows
        
        #We can't replace the case number so we drop the row 
        print(filtered_clean[(filtered_clean['Case Number']=='Null')])
        filtered_clean.drop([1983], inplace=True)
        
        #We drop also Country
        filtered_clean = filtered_clean[filtered_clean['Country']!='Null']
        
        #We drop null values from Type attack
        filtered_clean = filtered_clean[filtered_clean['Fatal (Y/N)']!='Null']
        print(filtered_clean)
        
        #Now our data is ready for filtering
        return filtered_clean

filtered_clean = clean_dataset(df)

Case Number       1
Country          43
Activity        527
Fatal (Y/N)      20
Species        2935
dtype: int64
Case Number    0
Country        0
Activity       0
Fatal (Y/N)    0
Species        0
dtype: int64
     Case Number Country            Activity   Fatal (Y/N) Species
1983        Null       Y  BL Meel / B. Myatt  1998.00.00.c    Null
       Case Number             Country      Activity Fatal (Y/N)    Species
0     2016.09.18.c                 USA       Surfing           N       Null
1     2016.09.18.b                 USA       Surfing           N       Null
2     2016.09.18.a                 USA       Surfing           N       Null
3       2016.09.17           AUSTRALIA       Surfing           N       Null
4       2016.09.15           AUSTRALIA       Surfing           N  2 m shark
...            ...                 ...           ...         ...        ...
5988       ND.0005           AUSTRALIA        Diving           Y       Null
5989       ND.0004           AUSTRALIA  Pearl diving           Y       Null
5990       ND.0003                 USA      Swimming           Y       Null
5991       ND.0002              PANAMA          Null           Y       Null
5992       ND.0001  CEYLON (SRI LANKA)      Swimming           Y       Null

[5930 rows x 5 columns]

In [23]:
def wrangle(df):
        #We keep only activities link to a board like kite surfing, surfing ...
        wrangled_data_mini = df[df['Activity'].lower()]
        wrangled_data= wrangled_data_mini.str.contains('urfing')]
        #Per default it's already regex=False
        print(wrangled_data)
        
        #We keep accidents liked to sharks but all kind of sharks
        wrangled_data = wrangled_data[wrangled_data['Species'].str.contains('shark')]
        return wrangled_data
    
wrangled_data = wrangle(filtered_clean)

SyntaxError: invalid syntax (<ipython-input-23-b3ed09fa2f7e>, line 4)

In [8]:
def analyze(df):
    grouped = df.groupby(['Country','Activity'])['Case Number'].agg('count').reset_index()
    final = grouped.sort_values('Case Number',ascending=False).head(10)
    total_top_10 = final['Case Number'].sum()
    #mortality_top_10 = 
    global budget
    final['Budget of FB Ads ($)'] = (budget * final['Case Number'] / total_top_10).round(2)
    print(final.head(10))
    return final
    
analyzed_data = analyze(wrangled_data)

         Country                        Activity  Case Number  \
60           USA                         Surfing          296
6      AUSTRALIA                         Surfing          110
44  SOUTH AFRICA                         Surfing           69
39       REUNION                         Surfing           14
53           USA                    Body surfing           10
15        BRAZIL                         Surfing            8
35   NEW ZEALAND                         Surfing            7
63           USA  Surfing (sitting on his board)            7
42  SOUTH AFRICA                    Body surfing            6
30        MEXICO                         Surfing            4

    Budget of FB Ads ($)
60               5574.39
6                2071.56
44               1299.44
39                263.65
53                188.32
15                150.66
35                131.83
63                131.83
42                112.99
30                 75.33