# Collections:

* lists
* sets
* tuples
* dictionaries

# Lists

In [1]:
lst=[]

In [2]:
lst=list()

In [3]:
lst=list(range(10))

In [4]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
lst2=[]
for i in lst:
    lst2.append((i**2-4)/11)

In [6]:
lst2

[-0.36363636363636365,
 -0.2727272727272727,
 0.0,
 0.45454545454545453,
 1.0909090909090908,
 1.9090909090909092,
 2.909090909090909,
 4.090909090909091,
 5.454545454545454,
 7.0]

In [8]:
[lst,lst2] # list of lists

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [-0.36363636363636365,
  -0.2727272727272727,
  0.0,
  0.45454545454545453,
  1.0909090909090908,
  1.9090909090909092,
  2.909090909090909,
  4.090909090909091,
  5.454545454545454,
  7.0]]

# Tuple

In [9]:
chocolates = ('dark','milk','semi sweet')

In [10]:
type(chocolates)

tuple

In [11]:
chocolates[1]

'milk'

In [12]:
chocolates[3]='caramel filled'

TypeError: 'tuple' object does not support item assignment

In [13]:
len(chocolates)

3

In [14]:
chocolates[10]

IndexError: tuple index out of range

In [15]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [18]:
lst3=list(chocolates)

In [19]:
lst3.append('caramel filled')

In [21]:
tuple(lst3)

('dark', 'milk', 'semi sweet', 'caramel filled')

In [23]:
i,j,k=chocolates

In [24]:
i

'dark'

In [25]:
j

'milk'

In [26]:
k

'semi sweet'

In [29]:
q,w,e,r=lst3

In [30]:
q

'dark'

In [31]:
w

'milk'

In [32]:
e

'semi sweet'

In [33]:
r

'caramel filled'

# Sets

In [34]:
st={}

In [35]:
type(st)

dict

In [36]:
st=set()

In [37]:
st

set()

In [38]:
lst=[]
for i in range(20):
    lst.append(i%2)

In [39]:
lst

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [40]:
st=set(lst)

In [41]:
st

{0, 1}

In [42]:
s1={1,2,3}
s2={2,3,4}

In [60]:
st and s1

set()

In [58]:
s1 & st

set()

In [51]:
if s1:
    print(11)

11

In [47]:
if True:
    print(11)

11

In [49]:
st=set()

In [50]:
if st:
    print(11)

In [55]:
number='fghj'
if number:
    print(11)

11

In [61]:
# intersection of 2 sets:
s1 & s2

{2, 3}

In [67]:
s1.intersection(s2)

{2, 3}

In [62]:
# to see whether both are not empty:
s1 and s2
# if first one is empty: it will stop on the first one without checking the second one

{2, 3, 4}

### Comparison of 'and' and '&'

In [63]:
(21>11) and ('i' in 'in')

True

In [64]:
(21>11) & ('i' in 'in')

True

In [65]:
s1 and s2

{2, 3, 4}

In [66]:
s1 & s2

{2, 3}

In [72]:
# union

In [76]:
st or s2 # prints the first which is non empty

{2, 3, 4}

In [77]:
s1 | s2

{1, 2, 3, 4}

In [78]:
s1 | st

{1, 2, 3}

In [79]:
# remaining part

In [80]:
s1-s2

{1}

In [81]:
s2-s1

{4}

In [82]:
s1

{1, 2, 3}

In [83]:
s2

{2, 3, 4}

In [84]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [85]:
txt1='the quick brown fox jumps over the lazy dog'

In [86]:
txt2='the big bang theory'

In [87]:
s=[]
for i in txt1:
    for j in txt2:
        if i==j:
            s.append(j)

In [88]:
len(s)

52

In [90]:
set1=set(txt1)

In [91]:
set2=set(txt2)

In [92]:
set1&set2

{' ', 'a', 'b', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 't', 'y'}

In [93]:
set1[1]

TypeError: 'set' object is not subscriptable

In [107]:
set1={0,1,'!','ertyu','2b','y1y2eioh12oi',25}

In [108]:
set1

{'!', 0, 1, 25, '2b', 'ertyu', 'y1y2eioh12oi'}

In [100]:
set1

{'!', 0, 1, '12', 20, 'ertyu', 'y1y2eioh12oi'}

In [114]:
for i in set1:
    print(i)

0
1
!
y1y2eioh12oi
2b
25
ertyu

# Dicts

In [116]:
brands=['Lindt','Nestle','Poulain']

In [117]:
chocolates

('dark', 'milk', 'semi sweet')

In [118]:
dct={}

In [120]:
type(dct)

dict

In [121]:
dct={'dark':'Lindt'}

In [122]:
dct

{'dark': 'Lindt'}

In [123]:
for i in range(len(brands)):
    print(i,brands[i],chocolates[i])

0 Lindt dark
1 Nestle milk
2 Poulain semi sweet

In [124]:
dct={}

In [125]:
for i in range(len(brands)):
    dct.append((chocolates[i],brands[i]))

AttributeError: 'dict' object has no attribute 'append'

In [128]:
dct.values(brands)
dct.keys(chocolates)

TypeError: values() takes no arguments (1 given)

In [129]:
for i in range(len(brands)):
    dct[chocolates[i]]=brands[i]

In [130]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Poulain'}

In [ ]:
dct['dark']='Lindt'
dct['milk']='Nestle'

In [131]:
dct.update({'Kinder':'Kinder surprise'})

In [132]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'semi sweet': 'Poulain',
 'Kinder': 'Kinder surprise'}

In [133]:
dct.update({'milk':'Catberry'})

In [134]:
dct

{'dark': 'Lindt',
 'milk': 'Catberry',
 'semi sweet': 'Poulain',
 'Kinder': 'Kinder surprise'}

In [135]:
dct.remove('Kinder')

AttributeError: 'dict' object has no attribute 'remove'

In [136]:
del dct['Kinder']

In [137]:
dct

{'dark': 'Lindt', 'milk': 'Catberry', 'semi sweet': 'Poulain'}

In [140]:
dct.pop('dark')

'Lindt'

In [142]:
dct['white']=dct.pop('milk')

In [143]:
dct

{'semi sweet': 'Poulain', 'white': 'Catberry'}

# Generators (list comprehensions)

In [144]:
lst=list(range(20))

In [145]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [146]:
fruits=['apple','pineapple','mango','banana','pear']

## Generate a list with fruits that contain 'e'

In [147]:
lst2=[]
for i in fruits:
    if 'e' in i:
        lst2.append(i)

In [148]:
lst2

['apple', 'pineapple', 'pear']

In [149]:
[i for i in fruits if 'e' in i]

['apple', 'pineapple', 'pear']

In [151]:
[i for i in fruits if 'e' in i]

['apple', 'pineapple', 'pear']

In [155]:
[i/3 for i in range(20)];

In [156]:
lst_lst=[['watermelon','cassis'],['monkey','tiger','wolf'],[1,2,3,4,5]]

In [160]:
lst2=[]
for i in lst_lst:
    for j in i:
        lst2.append(j)

In [161]:
lst2

['watermelon', 'cassis', 'monkey', 'tiger', 'wolf', 1, 2, 3, 4, 5]

In [162]:
[j for i in lst_lst for j in i]

['watermelon', 'cassis', 'monkey', 'tiger', 'wolf', 1, 2, 3, 4, 5]

In [163]:
[j for i in lst_lst for j in i]

['watermelon', 'cassis', 'monkey', 'tiger', 'wolf', 1, 2, 3, 4, 5]

### Create a list where berries remain the same, animals are selected only if they have 'o' inside and numbers are squared

In [164]:
lst2=[]
for i in lst_lst:
    if len(i)==2:                   #the list contains berries
        for j in i:                 #for every berry
            lst2.append(j)          #add it into the list
    elif len(i)==3:                 #the list contains animals
        for j in i:                 #for every animal
            if 'o' in j:            #check that it has 'o'
                lst2.append(j)      #add the animal
    else:
        for j in i:
            lst2.append(j**2)       #square the values

In [165]:
lst2

['watermelon', 'cassis', 'monkey', 'wolf', 1, 4, 9, 16, 25]

In [173]:
lst2=[]
for i in lst_lst:
    for j in i:
        if len(i)==2:                                   
            lst2.append(j)          
        elif (len(i)==3) and ('o' in j): 
                lst2.append(j)      
        elif len(i)>3:
            lst2.append(j**2)    
lst2

['watermelon', 'cassis', 'monkey', 'wolf', 1, 4, 9, 16, 25]

In [183]:
[j if len(i)==2 else j if ((len(i)==3) and ('o' in j)) else j**2 for i in lst_lst for j in i]

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

### Create a list where berries remain the same, random animal is selected  and numbers are squared

In [194]:
import random

lst2=[]
for i in lst_lst:
    for j in i:
        if len(i)==2:                                   
            lst2.append(j)          
        elif len(i)==3: 
            lst2.append(random.choice(i))
        elif len(i)>3:
            lst2.append(j**2)    
lst2

['watermelon', 'cassis', 'monkey', 'tiger', 'monkey', 1, 4, 9, 16, 25]

In [193]:
lst2=[]
for i in lst_lst:
    if len(i)==2:                   #the list contains berries
        for j in i:                 #for every berry
            lst2.append(j)          #add it into the list
    elif len(i)==3:                 #the list contains animals
        lst2.append(random.choice(i))      #add the animal
    else:
        for j in i:
            lst2.append(j**2)       #square the values
lst2

['watermelon', 'cassis', 'wolf', 1, 4, 9, 16, 25]

In [195]:
lst_lst=[[0,1,2,3],[1,2,3],['yes','no']]

1st - substract 1
2nd - power of 2
third - as it is

In [196]:
lst2=[]
for i in lst_lst:
    for j in i:
        if len(i)==4:
            lst2.append(j-1)
        elif len(i)==3:
            lst2.append(j**2)
        else:
            lst2.append(j)

In [197]:
lst2

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

In [199]:
lst2=[j-1 if len(i)==4 else j**2 if len(i)==3 else j for i in lst_lst for j in i]

In [200]:
lst2

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

In [204]:
list(set([j for i in lst_lst for j in i]))

[0, 1, 2, 3, 'yes', 'no']

In [211]:
list({j for i in lst_lst for j in i})

[0, 1, 2, 3, 'yes', 'no']

In [216]:
tuple(j for i in lst_lst for j in i)

(0, 1, 2, 3, 1, 2, 3, 'yes', 'no')

In [217]:
{0:1,1:2,2:2,3:2,'yes':1,'no':1}

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

In [219]:
lst2.count(1)

2

In [220]:
lst2

[-1, 0, 1, 2, 1, 4, 9, 'yes', 'no']

In [224]:
lst2=[j for i in lst_lst for j in i]

lst2.count(0)

1

In [225]:
lst2

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [227]:
for i in set(lst2):
    print(i,lst2.count(i))

0 1
1 2
2 2
3 2
yes 1
no 1

In [243]:
dct={i:lst2.count(i) for i in set(lst2)}

In [244]:
dct

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

In [241]:
dct[11]=12
dct[11]=13
dct[11]=14

In [242]:
dct

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1, 11: 14}

In [245]:
lyrics="""I been cheated by you since you know when
So I made up my mind, it must come to an end
Look at me now, will I ever learn?
I don't know how but I suddenly lose control
There's a fire within my soul
Just one look and I can hear a bell ring
One more look and I forget everything
Mamma mia, here I go again
My my, how can I resist you?
Mamma mia, does it show again
My my, just how much I've missed you?
Yes, I've been brokenhearted
Blue since the day we parted
Why, why did I ever let you go?
Mamma mia, now I really know
My my, I could never let you go
I've been angry and sad about things that you do
I can't count all the times that I've told you "we're through"
And when you go, when you slam the door
I think you know that you won't be away too long
You know that I'm not that strong
Just one look and I can hear a bell ring
One more look and I forget everything
Mamma mia, here I go again
My my, how can I resist you?
Mamma mia, does it show again
My my, just how much I've missed you?
Yes, I've been brokenhearted
Blue since the day we parted
Why, why did I ever let you go?
Mamma mia, even if I say
"Bye bye, leave me now or never"
Mamma mia, it's a game we play
"Bye bye" doesn't mean forever
Mamma mia, here I go again
My my, how can I resist you?
Mamma mia, does it show again
My my, just how much I've missed you?
Yes, I've been brokenhearted
Blue since the day we parted
Why, why did I ever let you go?
Mamma mia, now I really know
My my, I could never let you go"""

In [246]:
lyrics

'I been cheated by you since you know when\nSo I made up my mind, it must come to an end\nLook at me now, will I ever learn?\nI don\'t know how but I suddenly lose control\nThere\'s a fire within my soul\nJust one look and I can hear a bell ring\nOne more look and I forget everything\nMamma mia, here I go again\nMy my, how can I resist you?\nMamma mia, does it show again\nMy my, just how much I\'ve missed you?\nYes, I\'ve been brokenhearted\nBlue since the day we parted\nWhy, why did I ever let you go?\nMamma mia, now I really know\nMy my, I could never let you go\nI\'ve been angry and sad about things that you do\nI can\'t count all the times that I\'ve told you "we\'re through"\nAnd when you go, when you slam the door\nI think you know that you won\'t be away too long\nYou know that I\'m not that strong\nJust one look and I can hear a bell ring\nOne more look and I forget everything\nMamma mia, here I go again\nMy my, how can I resist you?\nMamma mia, does it show again\nMy my, just how much I\'ve missed you?\nYes, I\'ve been brokenhearted\nBlue since the day we parted\nWhy, why did I ever let you go?\nMamma mia, even if I say\n"Bye bye, leave me now or never"\nMamma mia, it\'s a game we play\n"Bye bye" doesn\'t mean forever\nMamma mia, here I go again\nMy my, how can I resist you?\nMamma mia, does it show again\nMy my, just how much I\'ve missed you?\nYes, I\'ve been brokenhearted\nBlue since the day we parted\nWhy, why did I ever let you go?\nMamma mia, now I really know\nMy my, I could never let you go'

In [247]:
{i:lyrics.count(i) for i in set(lyrics)}

{'I': 34,
 'j': 3,
 'f': 5,
 'i': 47,
 '\n': 42,
 "'": 16,
 'B': 5,
 'k': 15,
 'L': 1,
 'c': 19,
 't': 64,
 'u': 41,
 'W': 3,
 'n': 73,
 'y': 60,
 'O': 2,
 'a': 92,
 'h': 49,
 ' ': 272,
 'o': 97,
 'v': 20,
 'p': 5,
 'e': 134,
 'm': 59,
 'J': 2,
 'M': 18,
 'g': 27,
 'l': 36,
 ',': 28,
 's': 43,
 'w': 35,
 'T': 1,
 'b': 16,
 'r': 46,
 'Y': 4,
 'd': 41,
 'S': 1,
 '?': 10,
 'A': 1,
 '"': 6}

In [248]:
{i:lyrics.count(i) for i in lyrics}

{'I': 34,
 ' ': 272,
 'b': 16,
 'e': 134,
 'n': 73,
 'c': 19,
 'h': 49,
 'a': 92,
 't': 64,
 'd': 41,
 'y': 60,
 'o': 97,
 'u': 41,
 's': 43,
 'i': 47,
 'k': 15,
 'w': 35,
 '\n': 42,
 'S': 1,
 'm': 59,
 'p': 5,
 ',': 28,
 'L': 1,
 'l': 36,
 'v': 20,
 'r': 46,
 '?': 10,
 "'": 16,
 'T': 1,
 'f': 5,
 'J': 2,
 'g': 27,
 'O': 2,
 'M': 18,
 'j': 3,
 'Y': 4,
 'B': 5,
 'W': 3,
 '"': 6,
 'A': 1}

In [251]:
len(lyrics)/len(set(lyrics))

36.825

In [250]:
len(set(lyrics))

40

In [253]:
import os

os.getcwd()

'/home/Mauritian/Documents/Documents/Ironhack/Untitled Folder 1/Untitled Folder'

In [254]:
os.chdir('../../Slides/vehicles/vehicles')

In [255]:
os.listdir()

['vehicles.csv',
 'Top 10 Manufacturers by Fuel Efficiency 2016.png',
 'new_vehicles.txt',
 'vehicles_tab.txt',
 'new_excel.xlsx',
 '.DS_Store',
 'new_vehicles.csv',
 'vehicles_messy.csv',
 'vehicles_transformed.txt',
 'vehicles.json',
 '.ipynb_checkpoints',
 'vehicles_messy.csv.zip',
 'Untitled.ipynb',
 'vehicles_pipe.txt',
 'vehicles.xlsx',
 'new_json.json']

In [256]:
import pandas as pd

In [258]:
[filename for filename in os.listdir() if filename.endswith('csv')]

['vehicles.csv', 'new_vehicles.csv', 'vehicles_messy.csv']

In [259]:
list_of_files=[filename for filename in os.listdir() if filename.endswith('csv')]

In [260]:
datasets=[pd.read_csv(file) for file in list_of_files]

/usr/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [264]:
data=pd.concat(datasets)

In [265]:
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,AM General,DJ Po Vehicle 2WD,1984.0,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AM General,FJ8c Post Office,1984.0,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AM General,Post Office DJ5 2WD,1985.0,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AM General,Post Office DJ8 2WD,1985.0,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASC Incorporated,GNX,1987.0,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN